doctype
html
    head
        meta(charset="utf-8")
        link(href="lib/framework7.min.css", rel="stylesheet")
    body
        .views
            .view.main-view
                .navbar
                    .navbar-inner
                        .center.sliding TEST
                .pages
                    .page.navbar-through
                        .page-content
                            .content-block Nice
        
        script(src="lib/framework7.min.js")
        script(src="lib/pouchdb.min.js")
        script(src="scripts/app.js")